attrs
backcall
bleach
cycler
decorator
defusedxml
entrypoints
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
networkx
notebook
numpy
opencv-python
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
PyWavelets
pyzmq
qtconsole
QtPy
scikit-image
scikit-learn
scipy
Send2Trash
six
terminado
testpath
threadpoolctl
tifffile
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
